/*Tree styling*/
.node {
    fill-opacity: 0;
}

.highlighted {
    fill-opacity: 0.3;
    fill: orange;
}

.leafText {
    fill: black;
    fill-opacity: 1;
    alignment-baseline: middle;
}

.link {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.link.highlighted {
	fill: none;
	stroke: orange;
	stroke-width: 2px;
}

.dashedLink {
	fill: none;
	stroke: gray;
	stroke-width: 1px;
	stroke-dasharray: 1, 3;
}

.rootLink {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

#extent {
    pointer-events: none;
	fill: black;
    fill-opacity: 0.125;
}

.brushBox {
	fill-opacity: 0;
	cursor: crosshair;
}

.timeSelection {
    fill: green;
    fill-opacity: 0.2;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}


/*Zoom button styling*/
.zoomControl {
    display: inline-block;
}

.zoom.increase {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -397px -87px; 
    background-color: green;
    width: 34px;
    height: 34px;
}

.zoom.decrease {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -422px -87px; 
    background-color: red;
    width: 34px;
    height: 34px;
}


/*Tree panel styling*/
.panelControl {
    position: relative;
    top: 12px;
}

.panelControl.collapseButton {
    position: relative;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: gray;
    display: inline-block;
}

.panelControl.name {
    position: relative;
    top: 3px;
    left: 5px;
    display: inline-block;
}

div.treePanel {
    min-height: 20px;
    min-width: 100px;
    clear:both;   
    /*display: inline-block;*/
}

div.svgBox {
    line-height: 0;
    width: 750px;
    height: 545px;
    overflow-y: auto;
    overflow-x: hidden;
}

.treeTopology {
    width: 400px;
    height: 500px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-top: 20px;
}


/*Time panel*/
.timeLine {
    width: 750px;
    height: 25px;
    padding-right: 5px;
    cursor: crosshair;
}

.timeLine path,
.timeLine line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.timeSlider {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -308px -90px; 
    position: relative;
    cursor: col-resize;
    width: 20px;
    height: 20px;  
}

.sliderBackground {
    cursor: col-resize;
    width: 700px;
    height: 25px;
}


/*Trait and legend stylings*/

.legendPanel {
    width: 100px;
    height: 200px;
    overflow-x: hidden; 
    display: inline-block;
    border: 1px solid;
}

.traitPanel {
    width: 300px;
    height: 100px;
    display: inline-block;
    border: 1px solid;
}

.traitRowBackground {
    /*fill: blue;*/
}






