/*Tree styling*/
.node {
    fill-opacity: 0;
}


.highlighted {
    fill-opacity: 0.3;
    fill: orange;
}


.leafText {
    fill: black;
    fill-opacity: 1;
}


.link {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}


.link.highlighted {
	fill: none;
	stroke: orange;
	stroke-width: 2px;
}


.dashedLink {
	fill: none;
	stroke: gray;
	stroke-width: 1px;
	stroke-dasharray: 1, 3;
}


.rootLink {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}


#extent {
    pointer-events: none;
	fill: black;
    fill-opacity: 0.125;
}


.svgBox {
	line-height: 0;
	/*overflow: auto;*/
}


.brushBox {
	fill-opacity: 0;
	cursor: crosshair;
}

.timeSelection {
    fill: red;
    fill-opacity: 1;/*0.2;*/
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.node circle {
	fill: black;
	fill-opacity: 1;
}

.zoomControl {
    display: inline-block;
}

/*Zoom button styling*/
.zoom.increase {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -397px -87px; 
    background-color: green;
    width: 34px;
    height: 34px;
}

.zoom.decrease {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -422px -87px; 
    background-color: red;
    width: 34px;
    height: 34px;
}

.timeScrobbler {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -308px -90px; 
    cursor: move;
    position: relative;
    width: 20px;
    height: 20px;  
}

.scrobblerBackground {
    width: 700px;
    height: 25px;
}



















