.chart rect {
  stroke: white;
  fill: steelblue;
}

.chart text {
  font-family: sans-serif;
  font-size: 10px;
  fill: white;
}

.chart text.rule {
  font-family: sans-serif;
  font-size: 10px;
  fill: black;
}