.node {
  font: 10px sans-serif;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  fill: black;
}

.node.highlighted {
    font: 10px sans-serif;
    fill: orange;
    selected: true;
}


.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.dashedLink {
	fill: none;
	stroke: gray;
	stroke-width: 1px;
	stroke-dasharray: 1, 3;
}

.link.highlighted {
	fill: none;
	stroke: orange;
	stroke-width: 2px;
}

.rootLink {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.extent {
  fill-opacity: 0.125;
}

.svgBox {
	/*display: inline-block;*/
	height: 520px;
	width: 420px;
	line-height: 0;
	float: left;
	border: 2px solid;
	border-color: gray;
	overflow: auto;
	user-select: none;
}

.brushBox {
	fill-opacity: 0;
	cursor: crosshair;
}

.scrollArea {
	cursor: ns-resize;
	fill: green;
	fill-opacity: 0.5;
	stroke: gray;
	stroke-width: 3;
}

