.node {
  font: 10px sans-serif;
}


.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.link.highlighted {
	fill: none;
	stroke: orange;
	stroke-width: 2px;
}

.rootLink {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.extent {
  fill-opacity: 0.125;
  cursor: auto;
}

.svgBox {
	display: inline-block;
	border: 2px solid;
}

.scrollArea {
	fill: red;
	stroke: black;
	stroke-width: 3;
}

/*
path.link:hover {
	stroke: orange;
}
*/